body
{
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7B6490;
    background-color: #F1F1EF;
}

header
{
    height: 56px;
}
header .top-container
{
    height: 56px;
    margin: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
}

header .top-container .logotype
{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

header .top-container form
{
    width: 100%;
}

header .top-container form .search-box
{
    float: right;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 32px;
    height: 100%;
    width: 90%;
    flex: 1;
    margin:auto;  
    width: 100%;
}

header .top-container form .search-box .search
{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #E1DFE0;
    box-sizing: border-box;
}

header .top-container form .search-box .btn-search
{
    border-radius: 0px 4px 4px 0px;
    background-color: #8C56C2; 
    background: #8C56C2;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25); 
}

header .top-container form .search-box .btn-search i
{
    color: #FFFFFF;
}

.container
{  
    height: 100%;
    width: 100%;
    padding-top: 20px;   
}

.container .home
{
    margin: auto;
    height: 100%;
    min-height: 730px;
}

.home img
{
    padding-top: 180px;
    padding-left: 30px;
    padding-right: 30px;
}

.separator
{
    height: 20px;
    width: 100%;
}

.title
{
    border: 0;
    border-bottom: 1px solid #E1DFE0;
    width: 100%;
    color: #2F2544;
    margin-left: 16px;
    margin-Right: 16px;
}

.title i
{
    color: #8C56C2;
}

footer
{
    position: relative;
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);
    margin-top: 100px;
    bottom: 0;
}

footer .credits
{
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.card
{
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(47, 37, 68, 0.25);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.card img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card h5
{
    font-size: 18px;
    line-height: 21px;
    color: #2F2544;
    padding-top: 10px;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.card p, .card a
{
    font-size: 12px;
    line-height: 14px;
    color: #03CADA;
    padding-top: 4px;
    width: 100%;
    padding-left: 5px;
    text-align: left;
    text-decoration: none;
}

.card a
{
    padding-left: -100px;
}

.card p span
{
    color: #7B6490;
    padding-top: 4px;
    padding-bottom: 20px;
    width: 100%;
    float: left;
    padding-left: 5px;
}

.card button
{
    background: #8C56C2;
    border-radius: 20px;
    width: 85%;
    height: 36px;
    color: #FFFFFF;
    border: 0px;
    text-transform: uppercase;
    border: 1px solid #8C56C2;
}

.card button:hover
{
    border: 1px solid #8C56C2;
    background-color: #FFFFFF;
    color: #8C56C2;
}

.result-empty
{
    padding-top: 150px;
    color: #8C56C2;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 37px;
    min-height: 730px;
}

.error404
{
    padding-top: 150px;
    color: #000000;
    align-items: center;
    text-align: center;
    margin: auto;
}

.error404 img
{
    width: 30%;
}

.error404 h1
{
    font-size: 190px;
    color: #000000;
}

.error404 p
{
    font-size: 37px;
    color: #000000;
}

@media (min-width: 768px)
{
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }

    .modal-xl {
        width: 90%;
       max-width:1200px;
      }
}

@media (min-width: 992px)
{
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }

    .modal-xl {
        width: 90%;
       max-width:1108px;
      }
}

.right
{
    float: right;
    text-align: right;
}

.left
{
    float: left;
    text-align: left;    
}

.modal-user .title
{
    border: 0;
    border-bottom: 1px solid #E1DFE0;
    width: 100%;
    color: #2F2544;
    margin-left: 0px;
    margin-Right: 0px;
}

.modal-user
{
    font-size: 14px;
    line-height: 16px;
}

.modal-user p
{
    width: 100%;
    padding-top: 20px;    
    color: #2F2544;
}

.modal-user p span
{
    width: 100%;
    color: #7B6490;
}

.modal-user-btn button
{
    border: 1px solid #8C56C2;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #8C56C2;
    text-transform: uppercase;
}

.modal-user-btn button:hover
{
    background-color: #8C56C2;
}